@page "/baza"
@using DBstvari.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NM

<h3>Baza</h3>

<button @onclick="SignalRTest">Upisi u bazu</button>
<button @onclick="Procitaj">Zgrabi podatke :)</button>

<ul>
	@foreach(Osoba o in Osobe)
	{
		<li>@o</li>
	}
</ul>

@code 
{
	public HubConnection HC;
	public List<Osoba> Osobe { get; set; } = new List<Osoba>();

	protected override async Task OnInitializedAsync()
	{
		HC = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/db")).Build();

		HC.On<List<Osoba>>("KlijentPrima", listaO =>
		{
			Osobe = listaO;
			StateHasChanged();
		});

		await HC.StartAsync();
	}

	public Task SignalRTest()
	{
		List<Osoba> lO = new List<Osoba>();

		lO.Add(new Osoba("Pera", "Peric"));
		lO.Add(new Osoba("Neko", "Nekic"));
		lO.Add(new Osoba("Trecko", "Treckovic"));

		return HC.SendAsync("PrimiPodatke", lO);
	}

	public Task Procitaj()
	{
		return HC.SendAsync("DajPodatke");
	}
}
